<manifest xmlns:android="http://schemas.android.com/apk/res/android"> xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.launcher">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
    ...
</application>

    </manifest>
